.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lightgray;
    padding: 1em;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    &__branding {
        margin-right: auto;
        flex: 1;
    }
    &__search {
        width: 600px;
    }
    &__navigation {
        margin-left: auto;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .button {
        margin-left: 8px;
    }
}
