.input {
    min-height: 36px;
    padding: 12px;
    background: $gray;
    width: 100%;

    &:focus {
        background: darken($color: $gray, $amount: 3);
    }

    &--large {
        min-height: 48px;
    }
}
