.archive-header {
    background: $lightgray;
    height: 128px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    .wrapper {
        flex: 1;
    }
    h1 {
        span {
            border-bottom: 1px solid $gray;
        }
    }
}
