.videodetail {
    padding-top: 64px;
    margin-bottom: 96px;
    .video__player {
        margin-bottom: 16px;
        @include mq(md) {
            margin-bottom: 32px;
        }
    }
    .video {
        &__meta {
            display: flex;
            justify-content: space-between;
        }
        &__content {
            width: 70%;
            max-width: 740px;
            padding-right: 32px;
            h1 {
                margin-bottom: 8px;
            }
            .avatar {
                margin-bottom: 32px;
            }
        }
        &__speaker {
            display: inline-block;
            margin-bottom: 8px;
        }

        &__actions {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .button {
                max-width: 240px;
                width: 100%;
                margin-bottom: 8px;
            }
        }
        &__description {
            margin-bottom: 32px;
            padding-top: 32px;
            border-top: 1px solid $gray;
        }
        &__tags {
        }
    }
}
