* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    line-height: 1.5;
    color: $darkgray;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 16px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

button,
input {
    font-size: 100%;
    box-shadow: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    word-wrap: break-word;
}
img {
    max-width: 100%;
    display: block;
    background: $lightgray;
}
hr {
    background: $gray;
    height: 1px;
    border: none;
}
